.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: scale(0);
}

.across-enter-active {
    animation: acrossIn .3s ease-out both;
} 
.across-leave-active {
    animation: acrossOut .3s ease-in both;
} 
@keyframes acrossIn {
    0% {
    transform: translate3d(-100%, 0, 0);
    }
    100% {
    transform: translate3d(0, 0, 0);
    }
}
@keyframes acrossOut {
    0% {
    transform: translate3d(0, 0, 0);
    }
    100% {
    transform: translate3d(100%, 0, 0);
    }
}
