/* Colors */
$color-crimson-main-dark: #b13938;
$color-crimson-main: #cf6766;
$color-crimson-main-light: #f0cfcf;
$color-indigo-main: #30415d;
$color-ultramarine-main: #031424;
$color-white: #fdfdfd;
$color-grey-dark: #484848;
$color-grey: #c2c2c2;
$color-grey-light: #f3f3f3;
$color-grey-lightest: #fffbfb;
$color-black: #222020;

/* Font Settings */
$default-font-size: 1.6rem;

/* Navbar */
$navbar-height: 7rem;
